.category-card {
  color: white;
  background: rgb(204, 204, 204);
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-color {
  color: white;
  &:hover{
    color: white;
  }
}
